.acf-heading-field-wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

.acf-heading-field-wrap > * {
  margin: 0 10px;
}

.acf-heading-field-text {
  flex: 1;
}

.acf-heading-field-level {
  margin-left: 0;
  margin-right: 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: absolute;
  right: 0;
}

.acf-heading-field-level__label {
  margin-right: 6px;
  white-space: nowrap;
}

.acf-heading-field-level select {
  width: 54px;
  opacity: 0.4;
}

.acf-heading-field-level select:focus {
  opacity: 1;
}

.acf-heading-field-level__button-container {
  display: inline-block;
}

.acf-heading-field-level__buttons--active label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 4px;
}

label.acf-heading-field-level--checked {
  background-color: #016087;
  color: #fff;
}
